//header

header
  width: 100%
  background-color: #313131
  position: fixed
  top: 0
  z-index: 1000
  margin: 0

.logo
  text-decoration: none
  display: inline

h1
  a.logo
    color: #ffffff
    @extend .logo


.test
  text-decoration: none
  color: #ffffff
  font-size: 2em
  display: inline
